*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(6, 12, 103);
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}
.main1{
    background-color: rgb(5, 37, 97);
    color: rgb(6, 230, 9);
    text-align: center;
}

/* District */


.dropdown {
    text-align: center;
}

#district-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}

#district-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
